:root {
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1280px;
  // Fonts
  --main-font: 'Roboto', sans-serif;
  // --logo-font: 'Raleway', sans-serif;
  // Font weights
  --fw-main: 500;
  // // Font sizes
  // --fs-section-title-s: 28px;
  // Line heights
  --lh-main: 1.2;
  // // Letter spacing
  // --ls-filter-btn: 0.03em;
  // Text colors
  --main-txt-cl: #000000;
  --secondary-txt-cl: #ffffff;
  // // Baclground colors
  // --background-dark-cl: #2f303a;
  // // Icons color
  // --icon-cl: #afb1b8;
  // // Border radius
  // --border-radius: 4px;
  // // Border color
  // --header-border-cl: #ececec;
  // // Gradients
  // --hero-gradient: linear-gradient(
  //   rgba(47, 48, 58, 0.4),
  //   rgba(47, 48, 58, 0.4)
  // );
  // // Overlay color
  // --overlay-portfolio-cl: rgba(33, 150, 243, 0.9);
  // // Backdrop color
  // --backdrop-cl: rgba(0, 0, 0, 0.2);
  // // Accent colors
  // --accent-cl: #2196f3;
  // --accent-hovered-cl: #188ce8;
  // Duration
  --duration: 250ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // // Other
  // --indent: 30px;
  // --item: 4;
}
