.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 39px;
  font-size: 12px;
  text-transform: uppercase;
}

.nav__item {
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: red;
  }
}

.nav__link--current {
  &::after {
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: red;
  }
}
