.header {
  @include section(40, 92);
  @extend .container;
  color: var(--secondary-txt-cl);
  background-color: rgba(33, 33, 33, 0.2);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  // Mobile screen
  @include mobile() {
    max-width: 320px;
    background-image: url('../images/header/header-bg-img_m.jpg');
    background-image: -webkit-image-set(
      url('../images/header/header-bg-img_m.webp') 1x
    );
    @include retina2 {
      background-image: url('../images/header/header-bg-img@2x_m.jpg');
      background-image: -webkit-image-set(
        url('../images/header/header-bg-img@2x_m.webp') 2x
      );
    }
    @include retina3 {
      background-image: url('../images/header/header-bg-img@3x_m.jpg');
      background-image: -webkit-image-set(
        url('../images/header/header-bg-img@3x_m.webp') 3x
      );
    }
  }

  // Tablet screen
  @include tablet() {
    @include section(40, 80);
    max-width: 768px;
    background-image: url('../images/header/header-bg-img_t.jpg');
    background-image: -webkit-image-set(
      url('../images/header/header-bg-img_t.webp') 1x
    );
    @include retina2 {
      background-image: url('../images/header/header-bg-img@2x_t.jpg');
      background-image: -webkit-image-set(
        url('../images/header/header-bg-img@2x_t.webp') 2x
      );
    }
    @include retina3 {
      background-image: url('../images/header/header-bg-img@3x_t.jpg');
      background-image: -webkit-image-set(
        url('../images/header/header-bg-img@3x_t.webp') 3x
      );
    }
  }

  // Desktop screen
  @include desktop() {
    max-width: 1920px;
    background-image: url('../images/header/header-bg-img_d.jpg');
    background-image: -webkit-image-set(
      url('../images/header/header-bg-img_d.webp') 1x
    );
    @include retina2 {
      background-image: url('../images/header/header-bg-img@2x_d.jpg');
      background-image: -webkit-image-set(
        url('../images/header/header-bg-img@2x_d.webp') 2x
      );
    }
    @include retina3 {
      background-image: url('../images/header/header-bg-img@3x_d.jpg');
      background-image: -webkit-image-set(
        url('../images/header/header-bg-img@3x_d.webp') 3x
      );
    }
  }
}

.header__search {
  margin-top: 54px;

  @include tablet() {
    margin-top: 40px;
  }
}
